.add-block,
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 7%;
}

.add-title,
.edit-title {
  color: rgb(43, 12, 123);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.add-inp,
.edit-inp {
  width: 30%;
  padding: 12px;
  border-radius: 1px;
  border: 0.5px solid #e8e1e9;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.add-inp:focus {
  outline: 0.5px solid #373c3c;
}

.edit-inp:hover {
  outline: 0.5px solid rgb(118, 118, 186);
}

.chooseCategory,
.chooseLevel {
  width: 31.5%;
  padding: 7px;
  border-radius: 1px;
  border: 0.5px solid #e8e1e9;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  outline: 0.5px;
}

.add-btn {
  margin-top: 20px;
  font-size: 15px;
  border: none;
  width: 20%;
  border-radius: 5px;
  padding: 12px 50px;
  background-color: rgb(75, 75, 165);
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}

.add-btn:hover {
  box-shadow: 0 0 10px black;
  transition: 0.3s;
}

.save-btn {
  text-transform: uppercase;
  border-radius: none;
  margin-top: 20px;
  font-size: 15px;
  border: none;
  width: 30%;
  border-radius: 5px;
  padding: 12px 50px;
  background: #049c46;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}
