.details-block {
  margin: 5%;
  display: flex;
  gap: 15px;
}

.details-body {
  padding: 0 !important;
}
.details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-img {
  width: 70%;
  height: 500px;
  object-fit: cover;
}

.details-title {
  font-size: 1.5rem !important;
}

.details-price {
  font-size: 1.2rem !important;
}

.favorite-details {
  width: 250px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
}

.icons-block {
  margin-top: 7%;
  justify-content: flex-start;
}

@media (max-width: 1420px) {
  .details-block {
    flex-wrap: wrap;
  }
  .details-img {
    width: 100%;
  }
}
