/* * {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
} */
/* content 1 start */
.div-1 {
  background: -webkit-linear-gradient(
    180deg,
    rgb(43, 12, 123) 1%,
    rgb(150, 26, 236)
  );
  background: -moz-linear-gradient(
    180deg,
    rgb(43, 12, 123) 1%,
    rgb(150, 26, 236)
  );
  background: linear-gradient(180deg, rgb(43, 12, 123) 1%, rgb(150, 26, 236));
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.div-2 {
  margin: 10%;
}
.big-img {
  width: 80%;
  margin-top: 20%;
}
.h1-1 {
  color: rgb(196, 157, 77);
  font-size: 70px;
  margin-bottom: 40px;
}
.input-1 {
  border-radius: 15px !important;
  max-width: 500px !important;
  height: 15% !important;
}
.par-1 {
  margin-top: 35px;
  font-size: 110%;
  color: white;
}
/* content 1 end */
.h2-1 {
  color: rgb(223, 165, 165);
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1%;
  padding: 5% 0 0 0;
}
.par-content2-1 {
  /* margin-top: 4px; */
  color: #fff;
  text-align: center;
}
.div-content2-1 {
  margin-top: 5%;
  /* margin-left: 5%; */
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.h4-content2 {
  color: rgb(42, 42, 112);
  font-size: 20px;
  font-weight: 500;
}
.par-content2-2 {
  opacity: 65%;
}
.div-content2-img1 {
  margin-left: 35%;
  width: 15%;
  background-color: yellowgreen;
  border-radius: 100px;
  border: 20px solid yellowgreen;
  border-color: yellowgreen;
}
.div-content2-img2 {
  margin-left: 35%;
  width: 15%;
  background-color: lightblue;
  border-radius: 100px;
  border: 20px solid lightblue;
  border-color: lightblue;
}
.div-content2-img3 {
  margin-left: 35%;
  width: 15%;
  background-color: rgb(196, 23, 167);
  border-radius: 100px;
  border: 20px solid rgb(196, 23, 167);
  border-color: rgb(196, 23, 167);
}
.img-content2-1 {
  margin-top: 8px;
  width: 50px;
  border-radius: inherit;
}
.img-content2-2 {
  margin-top: 8px;
  width: 50px;
  border-radius: inherit;
}
.img-content2-3 {
  margin-top: 8px;
  width: 50px;
  border-radius: inherit;
}
.div-content2-block {
  font-family: "Roboto";
  background: -webkit-linear-gradient(
    180deg,
    rgb(150, 26, 236) 10%,
    rgb(26, 153, 236)
  );
  background: -moz-linear-gradient(
    180deg,
    rgb(150, 26, 236) 10%,
    rgb(26, 153, 236)
  );
  background: linear-gradient(180deg, rgb(150, 26, 236) 10%, rgb(26, 153, 236));
}
.div-content2 {
  width: 450px;
}
