.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: rgb(43, 12, 123);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.logo {
  width: 65px;
  height: 55px;
}

.logo-title {
  font-family: "Akaya Telivigala", cursive;
  font-size: 35px;
  text-transform: uppercase;
  color: #ff8b39;
}

.navbar-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.burger-menu {
  display: none;
}

.burger-btn {
  width: 37px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 7px;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar-item {
  margin-right: 20px;
  cursor: pointer;
}

.MuiMenu-list {
  background-color: rgb(236, 233, 233);
  color: rgb(55, 55, 116);
  width: 200px;
  height: 360px;
  text-align: center;
}

.Mui-focusVisible {
  font-size: 25px;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: #fff;
}

.right-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.right-item {
  cursor: pointer;
  margin-right: 10px;
}

.logout-icon {
  display: none;
}

@media (max-width: 800px) {
  .navbar-menu {
    display: none;
  }
  .burger-menu {
    display: block;
    margin-left: 15px;
  }
  .header {
    justify-content: space-between;
  }
}

@media (max-width: 590px) {
  .logo-title {
    font-size: 20px;
  }
  .register {
    display: none;
  }
  .logout {
    display: none;
  }
  .logout-icon {
    display: block;
    margin-right: 10px;
  }
}

@media (max-width: 395px) {
  .logo {
    display: none;
  }
  .logo-title {
    margin-left: 10px;
  }
  .burger-menu {
    width: 25px;
  }
  .right-item {
    margin-right: 5px;
  }
}
