/* @media (max-width: 1200px) {
  .shop-img {
    display: none;
  }
} */

.shop-titles {
  display: flex;
  justify-content: space-around;
}

.shop-text {
  display: flex;
}

.delete-shop {
  color: #b22626;
  cursor: pointer;
}

.total-price {
  margin-left: 70%;
}
